#myCanvas {
  border: 1px solid #FF5DA2;
  background-color: #000;
  margin-left: 600px;
  margin-top: -55px;
}

html {
  background-color: #000;
  color: #99DDCC;
}

h1{
  font-size: 2rem;
  font-family: 'Rubik Iso';
  margin-left: 20px;
  margin-top: 20px;
}

#instructions {
  margin-top: -450px;
  width: 600px;
  font-size: 1.5rem;
  font-family: "Rubik Iso";
}

#box {
  border-style: solid;
  border-radius: 4rem;
  border-color: #000;
  background-color: #99DDCC;
  color: #000;
  width: 300;
}

#speed {
  margin-top: 20px;
}

#slow {
  border-style: solid;
  border-radius: 4rem;
  border-color: #000;
  background-color: #99DDCC;
  color: #000;
  width: 100px;
}

#fast {
  float: left;
  border-style: solid;
  border-radius: 4rem;
  border-color: #000;
  background-color: #99DDCC;
  color: #000;
  width: 100px;
}

@font-face {
  font-family: 'Rubik Iso';
}